/* Header */
header{
    background: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
    color: #fff;
}
header .top-header{
    background: rgba(0, 0, 0, 0.5);
    padding: 150px 0;
}
header .top-header h1{
    font-size: 80px;
}
header .top-header h3{
    font-size: 35px;
    padding: 10px 0 30px 0;
}
header .top-header a{
    color: #fff;
    text-decoration: none;
}
header .top-header a:hover{
    color: #353535;
}
/* Main */
main .list-web{
    margin-top: 200px;
}
main .list-web .web{
    margin-top: 50px;
    text-align: center;
}
main .list-web>h2{
    text-align: center;
    font-weight: 400;
}
main .list-web .web h4{
    padding: 20px 0;
    font-weight: 400;
}
main .list-web .web img{
    border-radius: 10px;
}
main .list-web .web .web-nav:hover img{
    box-shadow: 1px 25px 40px 10px rgb(0 0 0 / 40%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    transform: translateY(-10px);
}
/* Footer */
footer{
    margin-top: 100px;
    padding: 50px 0;
    text-align: center;
    background: #00051e;
    color: #fff;
}
footer>a{
    padding-top: 10px;
    color: #f77311;
    text-decoration: none;
}
footer>a:hover{
    color: #fff;
}
footer p{
    padding-top: 100px;
}
footer p span{
    color: #aaa;
}
footer p a{
    color: #fff;
    text-decoration: none;
}
footer p a:hover{
    color: #fff;
}